footer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: none;
	font-family: $font-family_1;
	background-color: $background-color_5;
	text-decoration: none;
	padding: 3.125rem;
	margin-top: .625rem;
	div {
		h4 {
			font-size: 1.25rem;
		}
		ul {
			list-style: none;
		}
	}
}
.preguntas-footer {
	gap: 3.125rem;
	a {
		text-decoration: none;
		color: $color_1;
	}
}
.footer1 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: none;
	align-items: none;
	gap: 3.125rem;
}
.footer-iconos {


	a {
		text-decoration: none;
		appearance: none;
		color: $color_3;
	}
}