/* MAIN INDEX */
main {
	font-family: $font-family_1;
	margin-top: 5.4375rem;
}
.main-nosotros {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	
}
.main-ubicacion {
	display: flex;
	flex-direction: none;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.contacto-main {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.main-ubicacion {
	display: flex;
	flex-direction: none;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}