$color_1: black;
$color_2: white;
$color_3: transparent;
$font-family_1: "Gayathri", sans-serif;
$font-family_2: "Federo", sans-serif;
$background-color_1: #c785b9;
$background-color_2: #e3d5d5;
$background-color_3: #E3DAD5;
$background-color_4: #e3d5d9;
$background-color_5: #E8E8E8;
$background-color_6: whitesmoke;