
@media screen and (min-width: 320px) {
	main {
		margin-top: 4.125rem;
	}
	.navbar1 {
		display: none;
		section {
			display: flex;
			justify-content: center;
			align-items: center;
			a {
				display: flex;
				justify-content: center;
				align-items: center;
				h1 {
					font-size: 30px;
				}
			}
		}
		ul {
			display: none;
		}
	}
	.foto-portada {
		width: 100%;
		height: 220px;
	}
	.tres-fotos {
		display: flex;
		flex-direction: column;
		gap: 3px;
		padding-top: 6px;
		width: 100%;
	}
	.fotoback-polleras {
		width: 100%;
		padding: 10px;
		border-radius: 0;
	}
	.fotoback-jeans {
		width: 100%;
		padding: 10px;
		border-radius: 0;
		width: 100%;
		padding: 10px;
		border-radius: 0;
	}
	.fotoback-camperas {
		width: 100%;
		padding: 10px;
		border-radius: 0;
		width: 100%;
		padding: 10px;
		border-radius: 0;
	}
	section {
		div {
			h2 {
				text-align: center;
				justify-content: center;
				align-items: center;
			}
		}
	}
	.carrousel {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.flecha-izq {
		display: none;
	}
	.flecha-der {
		display: none;
	}
	.card-camperas {
		display: none;
	}
	.card-jeans {
		display: none;
	}
	.card-polleras {
		display: none;
	}
	.card-camaperas {
		display: none;
	}
	.info-compra {
		display: flex;
		flex-direction: column;
	}
	footer {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
	.footer-1 {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: none;
		gap: 5px;
	}
	.icono-refresh {
		width: 56px;
	}
	.icono-auto {
		width: 56px;
		width: 56px;
	}
	.icono-tarjeta {
		width: 56px;
	}
	.celda-mensaje {
		width: 224px;
		height: 250px;
		width: 14rem;
		height: 15.625rem;
	}
	.filtros {
		margin-top: 30px;
		width: 100%;
		.filtros1 {
			h2 {
				display: none;
			}
			.filtros1-b {
				display: none;
			}
		}
	}
	.filtros1-a {
		display: flex;
		flex-direction: row;
	}
	.bloque-nosotros {
		width: 18.75rem;
		height: 93.75rem;
		margin-top: 60px;
		margin-bottom: 60px;
		gap: 10px;
		justify-content: center;
		align-items: center;
	}
	.bloque-contacto {
		width: 18.75rem;
		height: 93.75rem;
		margin-top: 60px;
		margin-bottom: 60px;
		gap: 10px;
		justify-content: center;
		align-items: center;
		width: 18.75rem;
		height: 50rem;
		margin-top: 3.125rem;
		margin-bottom: 3.125rem;
		gap: .625rem;
		justify-content: center;
		align-items: center;
	}
	.bloque-ubicacion {
		width: 18.75rem;
		height: 93.75rem;
		margin-top: 60px;
		margin-bottom: 60px;
		gap: 10px;
		justify-content: center;
		align-items: center;
		width: 17.5rem;
		height: 50rem;
		padding: 10px;
	}
	.celdas1 {
		width: 14rem;
	}
	.contacto-fieldset {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		width: 15.625rem;
		height: 37.5rem;
		font-size: 18px;
		padding: 0;
		background-color: $background-color_3;
		gap: 30px;
	}
	.ubicacion-mapa-grande {
		display: none;
	}
	.ubicacion-mapa-chico {
		display: flex;
	}
}
@media screen and (min-width: 375px) {
	main {
		margin-top: 4.125rem;
	}
	.navbar1 {
		display: none;
		section {
			display: flex;
			justify-content: center;
			align-items: center;
			a {
				display: flex;
				justify-content: center;
				align-items: center;
				h1 {
					font-size: 30px;
				}
			}
		}
		ul {
			display: none;
		}
	}
	.foto-portada {
		width: 100%;
		height: 200px;
	}
	.tres-fotos {
		display: flex;
		flex-direction: column;
		gap: 3px;
		padding-top: 6px;
		width: 100%;
	}
	.fotoback-polleras {
		width: 100%;
		padding: 10px;
		border-radius: 0;
		width: 100%;
		padding: 10px;
		border-radius: 0;
	}
	.fotoback-jeans {
		width: 100%;
		padding: 10px;
		border-radius: 0;
		width: 100%;
		padding: 10px;
		border-radius: 0;
	}
	.fotoback-camperas {
		width: 100%;
		padding: 10px;
		border-radius: 0;
	}
	section {
		div {
			h2 {
				text-align: center;
				justify-content: center;
				align-items: center;
			}
		}
	}
	.carrousel {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.flecha-izq {
		display: none;
	}
	.flecha-der {
		display: none;
	}
	.card-camaperas {
		display: none;
		display: none;
	}
	.card-jeans {
		display: none;
		display: none;
	}
	.info-compra {
		display: flex;
		flex-direction: column;
	}
	footer {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
	.footer-1 {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: none;
		gap: 5px;
	}
	.icono-refresh {
		width: 56px;
	}
	.icono-auto {
		width: 56px;
		width: 56px;
	}
	.icono-tarjeta {
		width: 56px;
	}
	.celda-mensaje {
		width: 14rem;
		height: 15.625rem;
	}
	.celdas1 {
		width: 14rem;
	}
	.filtros {
		margin-top: 30px;
		width: 100%;
		.filtros1 {
			h2 {
				display: none;
			}
			.filtros1-b {
				display: none;
			}
		}
	}
	.filtros1-a {
		display: flex;
		flex-direction: row;
	}
	.bloque-nosotros {
		width: 18.75rem;
		height: 93.75rem;
		margin-top: 60px;
		margin-bottom: 60px;
		gap: 10px;
		justify-content: center;
		align-items: center;
	}
	.bloque-contacto {
		width: 18.75rem;
		height: 93.75rem;
		margin-top: 60px;
		margin-bottom: 60px;
		gap: 10px;
		justify-content: center;
		align-items: center;
		width: 18.75rem;
		height: 50rem;
		margin-top: 3.125rem;
		margin-bottom: 3.125rem;
		gap: .625rem;
		justify-content: center;
		align-items: center;
	}
	.bloque-ubicacion {
		width: 18.75rem;
		height: 93.75rem;
		margin-top: 60px;
		margin-bottom: 60px;
		gap: 10px;
		justify-content: center;
		align-items: center;
		width: 17.5rem;
		height: 50rem;
		padding: 10px;
		.ubicacion-titulo {
			justify-content: center;
			align-items: center;
		}
	}
	.contacto-fieldset {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		width: 15.625rem;
		font-size: 18px;
		padding: 0rem;
		background-color: $background-color_3;
		gap: 30px;
	}
	.ubicacion-mapa-grande {
		display: none;
	}
	.ubicacion-mapa-chico {
		display: flex;
	}
}
@media screen and (min-width: 425px) {
	main {
		margin-top: 4.125rem;
	}
	.navbar1 {
		display: none;
		section {
			display: flex;
			justify-content: center;
			align-items: center;
			a {
				display: flex;
				justify-content: center;
				align-items: center;
				h1 {
					font-size: 30px;
				}
			}
		}
		ul {
			display: none;
		}
	}
	.foto-portada {
		width: 100%;
		height: 220px;
	}
	.tres-fotos {
		display: flex;
		flex-direction: column;
		gap: 3px;
		padding-top: 6px;
		width: 100%;
	}
	.fotoback-polleras {
		width: 100%;
		padding: 10px;
		border-radius: 0;
	}
	.fotoback-jeans {
		width: 100%;
		padding: 10px;
		border-radius: 0;
		width: 100%;
		padding: 10px;
		border-radius: 0;
	}
	.fotoback-camperas {
		width: 100%;
		padding: 10px;
		border-radius: 0;
		width: 100%;
		padding: 10px;
		border-radius: 0;
	}
	section {
		div {
			h2 {
				text-align: center;
				justify-content: center;
				align-items: center;
			}
		}
	}
	.carrousel {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.flecha-izq {
		display: none;
	}
	.flecha-der {
		display: none;
	}
	.card-camperas {
		display: none;
		display: none;
	}
	.card-jeans {
		display: none;
		display: none;
	}
	.info-compra {
		display: flex;
		flex-direction: column;
	}
	.footer-iconos {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
	.footer-1 {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: none;
		gap: 5px;
	}
	.icono-refresh {
		width: 56px;
	}
	.icono-auto {
		width: 56px;
		width: 56px;
	}
	.icono-tarjeta {
		width: 56px;
	}
	.celda-mensaje {
		width: 14rem;
		height: 15.625rem;
	}
	.celdas1 {
		width: 14rem;
	}
	.filtros {
		margin-top: 30px;
		width: 100%;
		.filtros1 {
			h2 {
				display: none;
			}
			.filtros1-b {
				display: none;
			}
		}
	}
	.filtros1-a {
		display: flex;
		flex-direction: row;
	}
	.bloque-nosotros {
		width: 18.75rem;
		height: 93.75rem;
		margin-top: 60px;
		margin-bottom: 60px;
		gap: 10px;
		justify-content: center;
		align-items: center;
	}
	.bloque-contacto {
		width: 18.75rem;
		height: 93.75rem;
		margin-top: 60px;
		margin-bottom: 60px;
		gap: 10px;
		justify-content: center;
		align-items: center;
		width: 18.75rem;
		height: 50rem;
		margin-top: 3.125rem;
		margin-bottom: 3.125rem;
		gap: .625rem;
		justify-content: center;
		align-items: center;
	}
	.bloque-camperas {
		width: 18.75rem;
		height: 93.75rem;
		margin-top: 60px;
		margin-bottom: 60px;
		gap: 10px;
		justify-content: center;
		align-items: center;
	}
	.bloque-ubicacion {
		width: 17.5rem;
		height: 50rem;
		padding: 10px;
		.ubicacion-titulo {
			justify-content: center;
			align-items: center;
		}
	}
	.contacto-fieldset {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		width: 15.625rem;
		font-size: 18px;
		padding: 0rem;
		background-color: $background-color_3;
		gap: 30px;
	}
	.ubicacion-mapa-grande {
		display: none;
	}
	.ubicacion-mapa-chico {
		display: flex;
	}
}
@media screen and (min-width: 480px) {
	main {
		margin-top: 4.125rem;
	}
	.foto-portada {
		width: 100%;
		height: 18.75rem;
	}
	.navbar1 {
		section {
			a {
				h1 {
					font-size: 2.5rem;
				}
			}
		}
		ul {
			display: none;
		}
	}
	.tres-fotos {
		display: flex;
		flex-direction: column;
		gap: 3px;
		padding-top: 6px;
	}
	.fotoback-polleras {
		width: 100%;
		padding: 10px;
		border-radius: 0;
	}
	.fotoback-jeans {
		width: 100%;
		padding: 10px;
		border-radius: 0;
		width: 100%;
		padding: 10px;
		border-radius: 0;
	}
	.fotoback-camperas {
		width: 100%;
		padding: 10px;
		border-radius: 0;
	}
	.fotoback-polerras {
		width: 100%;
		padding: 10px;
		border-radius: 0;
	}
	.carrousel {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.flecha-izq {
		display: none;
	}
	.flecha-der {
		display: none;
	}
	.card-camperas {
		display: none;
		display: none;
	}
	.card-jean {
		display: none;
	}
	.card-botas {
		display: none;
	}
	footer {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		gap: .3125rem;
		padding: 1.25rem;
	}
	.footer-1 {
		display: flex;
		justify-content: space-between;
		gap: 1.5625rem;
	}
	.icono-refresh {
		width: 4.75rem;
	}
	.icono-auto {
		width: 4.75rem;
		width: 4.75rem;
	}
	.icono-tarjeta {
		width: 4.75rem;
	}
	.bloque-contacto {
		width: 37.5rem;
		height: 46.875rem;
		margin-top: 4.375rem;
		margin-bottom: 4.375rem;
		display: flex;
		flex-direction: column;
		width: 25rem;
		height: 62.5rem;
		margin-top: 4.375rem;
		margin-bottom: 4.375rem;
		padding: 1.875rem;
	}
	.contacto-fieldset {
		width: 18.75rem;
		height: 43.75rem;
		display: flex;
		flex-direction: column;
		font-size: 1.1875rem;
		background-color: $background-color_3;
		gap: 1.875rem;
	}
	.filtros {
		margin-top: 1.875rem;
		width: 100%;
		.filtros1 {
			h2 {
				display: none;
			}
			.filtros1-b {
				display: none;
			}
		}
	}
	.filtros1-a {
		display: flex;
		flex-direction: row;
	}
	.bloque-nosotros {
		display: flex;
		flex-direction: column;
		width: 25rem;
		height: 62.5rem;
		margin-top: 4.375rem;
		margin-bottom: 4.375rem;
		padding: 1.875rem;
	}
	.bloque-ubicacion {
		display: flex;
		flex-direction: column;
		width: 25rem;
		height: 62.5rem;
		margin-top: 4.375rem;
		margin-bottom: 4.375rem;
		padding: 1.875rem;
		width: 25rem;
		display: flex;
		flex-wrap: nowrap;
		flex-direction: column;
	}
	.contenido-ubicaicon {
		display: flex;
		flex-direction: column;
	}
	.ubicacion-mapa-grande {
		display: none;
	}
	.ubicacion-mapa-chico {
		display: flex;
	}
}
@media screen and (min-width: 768px) {
	main {
		margin-top: 4.125rem;
	}
	.foto-portada {
		width: 100%;
		height: 18.75rem;
	}
	.navbar1 {
		section {
			a {
				h1 {
					font-size: 2.5rem;
				}
			}
		}
		ul {
			display: none;
		}
	}
	.tres-fotos {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	.fotoback-polleras {
		padding: 6.6875rem;
		border-radius: 0 5px 5px 0;
		padding: 6.6875rem;
		border-radius: 5px 0 0 5px;
	}
	.fotoback-jeans {
		padding: 6.6875rem;
		border-radius: 0 5px 5px 0;
		display: none;
	}
	.fotoback-camperas {
		padding: 6.6875rem;
		border-radius: 0 5px 5px 0;
	}
	.carrousel {
		padding-top: .5rem;
		padding-bottom: .5rem;
		gap: .3125rem;
		row-gap: .125rem;
	}
	.flecha-izq {
		visibility: visible;
	}
	.flecha-der {
		visibility: visible;
	}
	.card-camaperas {
		display: none;
		display: flex;
		flex-direction: column;
	}
	.card-jeans {
		display: none;
		display: flex;
		flex-direction: column;
	}
	footer {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		gap: .3125rem;
		padding: 1.25rem;
	}
	.footer-1 {
		display: flex;
		justify-content: space-between;
		gap: 1.5625rem;
	}
	.icono-refresh {
		width: 4.75rem;
	}
	.icono-auto {
		width: 4.75rem;
		width: 4.75rem;
	}
	.icono-tarjeta {
		width: 4.75rem;
	}
	.bloque-contacto {
		width: 37.5rem;
		height: 50rem;
		margin-top: 4.375rem;
		margin-bottom: 4.375rem;
		width: 37.5rem;
		height: 50rem;
		margin-top: 4.375rem;
		margin-bottom: 4.375rem;
	}
	.contacto-fieldset {
		width: 25rem;
		height: 40rem;
		display: flex;
		flex-direction: column;
		font-size: 1.1875rem;
		background-color: $background-color_3;
		gap: 1.875rem;
	}
	.filtros {
		margin-top: 1.875rem;
		width: 100%;
		.filtros1 {
			h2 {
				display: none;
			}
			.filtros1-b {
				display: none;
			}
		}
	}
	.filtros1-a {
		display: flex;
		flex-direction: row;
	}
	.bloque-nosotros {
		width: 37.5rem;
		height: 50rem;
		margin-top: 4.375rem;
		margin-bottom: 4.375rem;
	}
	.bloque-ubicacion {
		width: 37.5rem;
		height: 50rem;
		margin-top: 4.375rem;
		margin-bottom: 4.375rem;
		width: 40.625rem;
		display: flex;
		flex-wrap: nowrap;
		flex-direction: column;
	}
	.contenido-ubicaicon {
		display: flex;
		flex-direction: column;
	}
	.ubicacion-mapa-grande {
		display: flex;
	}
	.ubicacion-mapa-chico {
		display: none;
	}
}
@media screen and (min-width: 1024px) {
	main {
		margin-top: 5.4375rem;
	}
	.foto-portada {
		width: 100%;
		height: 23.75rem;
	}
	.navbar {
		display: none;
	}
	.navbar1 {
		display: flex;
		ul {
			display: flex;
		}
	}
	.tres-fotos {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	.fotoback-polleras {
		padding: 6rem;
		border-radius: 0 5px 5px 0;
	}
	.fotoback-jeans {
		padding: 6rem;
		border-radius: 0 5px 5px 0;
		display: flex;
		padding: 6rem;
		border-radius: 5px;
	}
	.fotoback-camperas {
		padding: 6rem;
		border-radius: 0 5px 5px 0;
		padding: 6rem;
		border-radius: 5px 0 0 5px;
	}
	.flecha-izq {
		display: flex;
	}
	.flecha-der {
		display: flex;
	}
	.card-jeans {
		display: none;
		display: none;
	}
	.card-camaperas {
		display: flex;
		flex-direction: column;
		display: flex;
		flex-direction: column;
	}
	.icono-refresh {
		width: 5.375rem;
	}
	.icono-auto {
		width: 5.375rem;
		width: 5.375rem;
	}
	.icono-tarjeta {
		width: 5.375rem;
	}
	.bloque-contacto {
		width: 56.25rem;
		height: 62.5rem;
		margin-top: 5rem;
		margin-bottom: 5rem;
		display: flex;
		flex-wrap: nowrap;
		width: 56.25rem;
		height: 37.5rem;
		margin-top: 5rem;
		margin-bottom: 5rem;
		display: flex;
		flex-wrap: nowrap;
	}
	.contacto-fieldset {
		width: auto;
		height: auto;
		font-size: 1.4375rem;
		padding: 3.125rem;
		background-color: $background-color_3;
		display: flex;
		flex-direction: row;
		gap: 1.875rem;
	}
	.celda-mensaje {
		width: auto;
		height: 18rem;
	}
	.celdas1 {
		width: auto;
	}
	.filtros {
		margin-top: 0;
		.filtros1 {
			h2 {
				display: flex;
			}
			.filtros1-b {
				display: flex;
				flex-direction: row;
			}
			.filtros1-a {
				display: none;
			}
		}
	}
	.boton-filtros-solo {
		display: none;
	}
	.bloque-nosotros {
		width: 56.25rem;
		height: 37.5rem;
		margin-top: 5rem;
		margin-bottom: 5rem;
		display: flex;
		flex-wrap: nowrap;
	}
	.bloque-ubicacion {
		width: 56.25rem;
		height: 37.5rem;
		margin-top: 5rem;
		margin-bottom: 5rem;
		display: flex;
		flex-wrap: nowrap;
		height: 43.75rem;
	}
	.ubicacion-mapa-grande {
		display: flex;
	}
	.ubicacion-mapa-chico {
		display: none;
	}
}
@media screen and (min-width: 1440px) {
	.foto-portada {
		width: 100%;
		height: 31.25rem;
	}
	.tres-fotos {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	.fotoback-polleras {
		padding: 10.3125rem;
		border-radius: 0px 5px 5px 0px;
	}
	.fotoback-jeans {
		padding: 10.3125rem;
		border-radius: 0px 5px 5px 0px;
		padding: 10.3125rem;
		border-radius: 5px;
	}
	.fotoback-camperas {
		padding: 10.3125rem;
		border-radius: 0px 5px 5px 0px;
		padding: 10.3125rem;
		border-radius: 5px 0px 0px 5px;
	}
	.card-jeans {
		display: flex;
		flex-direction: column;
		display: flex;
		flex-direction: column;
	}
	.bloque-contacto {
		width: 75rem;
		height: 62.5rem;
		margin-top: 5rem;
		margin-bottom: 5rem;
		width: 75rem;
		height: 43.75rem;
		margin-top: 5rem;
		margin-bottom: 5rem;
	}
	.contacto-fieldset {
		width: auto;
		height: auto;
		font-size: 1.4375rem;
		padding: 3.125rem;
		background-color: $background-color_3;
		display: flex;
		flex-direction: row;
		gap: 1.875rem;
	}
	.filtros1-b {
		display: flex;
	}
	.bloque-nosotros {
		width: 75rem;
		height: 43.75rem;
		margin-top: 5rem;
		margin-bottom: 5rem;
	}
	.bloque-ubicacion {
		width: 75rem;
		height: 43.75rem;
		margin-top: 5rem;
		margin-bottom: 5rem;
	}
	.ubicacion-mapa-grande {
		display: flex;
	}
	.ubicacion-mapa-chico {
		display: none;
	}
}
